asn1crypto==0.24.0
cffi==1.11.5
Click==7.0
cryptography==2.4.1
Flask==1.0.2
Flask-Humanize==0.3.0
Flask-Login==0.4.1
Flask-Markdown==0.3
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
humanize==0.5.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.0.1
MarkupSafe==1.1.0
psycopg2==2.7.6.1
pycparser==2.19
PyJWT==1.6.4
six==1.11.0
SQLAlchemy==1.2.14
Werkzeug==0.14.1
WTForms==2.2.1
