{% extends "layout.html" %}
{% block title %}Home Stack Overflow Lite{% endblock %}
{%block content%}
<div class="mb-4">
  <a href="{{ url_for('new_question') }}" class="btn btn-primary">Ask Question</a>
</div>

<table class="table table-striped mb-4">
  <thead class="thead-inverse">
    <tr>
      <th>Topic</th>
      <th>Asked by</th>
      <th>Answers</th>
      <th>Views</th>
      <th>Posted</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions %}

      <tr>
        <td>
          <p class="mb-0">
            <a href="{{ url_for('view_question', qid = question.qid) }}">{{ question.title }}</a>
          </p>
          <small class="text-muted">


          </small>
        </td>
        <td>{{ question.asker.firstname }} {{ question.asker.lastname }}</td>
        <td>{% for answer in question.answersto %}{% endfor %}{{question.answersto}}</td>        
        <td>{{ question.views }}</td>
        <td>{{ question.date_posted|humanize() }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
