{% extends "layout.html" %}
{% block title %}Home Stack Overflow Lite{% endblock %}
{%block content%}
<div class="mb-4">
  <a href="{{ url_for('new_question') }}" class="btn btn-primary">Ask Question</a>
</div>

<table class="table table-striped mb-4">
  <thead class="thead-inverse">
    <tr>
      <th>Topic</th>
      <th>Asked by</th>
      <th>Answers</th>
      <th>Views</th>
      <th>Posted</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions.items %}

      <tr>
        <td>
          <p class="mb-0">
            <a href="{{ url_for('view_question', qid = question.qid) }}">{{ question.title }}</a>
          </p>
          <small class="text-muted">


          </small>
        </td>
        <td>
          <a href="{{ url_for('user_questions', public_id = question.asker.public_id) }}">
            {% if question.asker.email == session['email'] %}
               Me
            {% else %}
              {{ question.asker.firstname }} {{ question.asker.lastname }}
            {% endif %}
          </a>
        </td>
        <td>{{question.answersto|length}}</td>
        <td>{{ question.views }}</td>
        <td>{{ momentjs(question.date_posted).fromNow() }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% for page_num in questions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if questions.page == page_num %}
      <a class="btn btn-info mb-4" href="{{ url_for('index', page = page_num) }}">{{ page_num }}</a>
    {% else %}
      <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page = page_num) }}">{{ page_num }}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}


{% endblock %}
