{% extends "layout.html" %}
{% block title %}Reply to Question - Stack Overflow Lite{% endblock %}
{% block stylesheet %}    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">{% endblock %}
{% block content %}
<h2>Reply to :</h2>
<p>{{ question.body }}</p>
<main class="container signup-section">
  <div class="section-content">

    <form method="POST" action="/questions/{{ question.qid }}/reply">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.message.label }}
        {{ form.message }}
      </div>

      {{ form.submit(class="btn-primary") }}

    </form>
  </div>
</main>

{% endblock %}
