{% extends "layout.html" %}
{% block title %}View Question - Stack Overflow Lite{% endblock %}

{% block content %}
<div class="mb-4">
  <a href="{{ url_for('reply_question', qid = question.qid) }}" class="btn btn-primary btn-sm m-1" role="button">Reply</a>
  {% if user.uid == question.starter %}
  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
  {% endif %}
</div>
<p>asker={{ question.asker.firstname }} id={{ question.starter }}</p>
<h1>{{ question.title }}</h1>
<p>{{ question.body }}</p>
<p>asked  {{ momentjs(question.date_posted).fromNow() }}</p>
<p>viewed {{ question.views }}</p>

<h2>Answers ({{ answers.count() }})</h2>
{% for answer in answers %}
{% if answer %}
<p>Accepted: {{ answer.accepted}}  {{ answer.body }} by {{ answer.responder.firstname }} {{ answer.responder.lastname }}</p>
<p>{{ momentjs(answer.date_posted).fromNow() }}</p>

<p></p>
<div class="mb-4">
  <a href="{{ url_for('reply_question', qid = question.qid) }}" class="btn btn-primary btn-sm" role="button">Comment</a>
  {% if user.uid == question.starter %}
  <button type="button" class="btn btn-success btn-sm m-1" data-toggle="modal" data-target="#acceptAnswerModal">Accept</button>
  <button type="button" class="btn btn-warning btn-sm m-1" data-toggle="modal" data-target="#rejectAnswerModal">Reject</button>
  <!--Accept Answer Modal -->
  <div class="modal fade" id="acceptAnswerModal" tabindex="-1" role="dialog" aria-labelledby="acceptAnswerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="acceptAnswerModalLabel">Are you sure you want to accept this answer?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{{ url_for('accept_answer', qid = question.qid, aid = answer.aid) }}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-trash"></span> Accept</a>
        </div>
      </div>
    </div>
  </div>

  <!--Reject Answer Modal -->
  <div class="modal fade" id="rejectAnswerModal" tabindex="-1" role="dialog" aria-labelledby="rejectAnswerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rejectAnswerModalLabel">Are you sure you want to reject this answer?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{{ url_for('reject_answer', qid = question.qid, aid = answer.aid) }}" class="btn btn-warning" role="button"><span class="glyphicon glyphicon-trash"></span> Reject</a>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
</div>
{% else %}
<p>No answers posted yet</p>
{% endif %}
{% endfor %}


<!--Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this question?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="{{ url_for('delete_question', qid = question.qid) }}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon-trash"></span> Delete</a>
      </div>
    </div>
  </div>
</div>



{% endblock %}
